*{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
	width: 100%;
	font-family:"Helvetica Neue", Helvetica, sans-serif;
}

.header {
	background-color: #333;
	height: 77px;
}
.header a, .header a:hover {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.sidebar a {
	display: block;
	color: #949494;
	text-decoration: none;
	background-color: #333333;
	padding: 3px;
	border-bottom: 1px solid #FFFFFF;
}

.sidebar a:hover {
	background-color: #D2D2D2;
	text-decoration: none;
	color: #333;
}

#sidebar p {
	padding: 7px 0px;
	color: #949494;
	font-weight: bold;
	background-color: #333;
	margin: 0;
}

	.header:after{
		content: "";
		display: block;
		clear: both;
	}
.header nav {
	margin-top: 13px;
	float: right;
}

.header .home {
	display: inline-block;
	margin: 6px 43px 0;
}
.header .home:before {
	content: url(../icons/lib.ico);
	display: inline-block;
	vertical-align: middle;
}

.menu {
	list-style-type: none;
	margin-right: 18px;
}

.menu li {
	display: inline-block;
	border-left: 1px solid #6D6A6A;
	border-right: 1px solid #6D6A6A;
	border: 1px solid #6D6A6A;
}

.menu a {
	line-height: 36px;
	display: inline-block;
	padding: 6px 31px;
}

		.menu select {
			display: inline-block;
			background-color: #333;
			color: #fff;
			border: none;
			height: 80px;
			padding-left: 28px;
			cursor: pointer;
			padding-right: 21px;
			border-right: 1px solid #6D6A6A;
		}

			.menu select:focus {
				outline: 0;
			}

			.menu a:hover {
				text-decoration: none;
				color: #5F5F5F;
			}

body .show{
	display: block;
}

body .hide{
	display: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}
	.popup {
	    background-color: #fff;
	    width: 400px;
	    padding: 10px;
	    margin: 115px auto 0;
	}

	.popup input{
		display: block;
		width: 80%;
		height: 30px;
		margin: 5px auto;
		-webkit-box-shadow: inset 0 0 0px 1000px white;
	}

	.popup label {
    display: block;
    text-align: center;
    margin: 5px 0;
   }
.popup-overlay-confirmation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;
}
.popup-confirmation {
	background-color: #FFF;
	width: 369px;
	padding: 10px;
	margin: 166px auto 0;
	height: 185px;
	border: 1px solid #9E9B9B;
}

.popup-confirmation input{
	display: block;
	width: 80%;
	height: 30px;
	margin: 5px auto;
	-webkit-box-shadow: inset 0 0 0px 1000px white;
}

.popup-confirmation label {
	display: block;
	text-align: center;
	margin: 5px 0;
}

	.submit {
		display: block;
		width: 43%;
		height: 28px;
		margin: 16px auto 0;
		background-color: #333;
		border: none;
		color: #fff;
		box-shadow: inset 0px 1px 3px #fff;
	}
.page-footer {
	height: 45px;
	background-color: #333;
}

.footer-bg {
	margin-left: 87%;
	color: white;
	display: inline-flex;
	margin-top: 9px;
}
.footer-form {
	color: white;
	font-family: monospace;
	margin-left: 90%;
	margin-top: 35px;
}
form.btn_ru {
	margin-right: 24px;
}

input.but {
	width: 57px;
    background: #333;
}
.wrapper {
	min-height: calc(100% - 122px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: url(../icons/slide1_bg.jpg) repeat left top;
}


*html .page-wrapper{
	height: 100%;
}

form.form-search {
	height: 36px;
	border: 1px solid #7D7777;
	padding: 5px 0px 5px 0px;
	background-color: #333;
}


.content-welcome-page {
	background-attachment: fixed;
	width: 100%;
	height: auto;
	position: relative;
	padding: 0;
	margin-top: 50px;
}
#content-welcome-page{
	height: 367px;
	background:url(../icons/slide1_bg.jpg) repeat left top;
	text-align:center;
	margin-bottom: 40px;
	background-position:0 0 !important;
}

#content-welcome-page h2 {
	text-transform:uppercase;
	border:none;
	background:none;
	font-family: 'PT Sans', sans-serif;
	font-size: 33px;
	color: #343434;
	line-height: 36px;
	padding:0;
	margin:0;
	font-weight: 400;
}
.top-main-content h2 {
	margin-top: 10px;
}
#content-welcome-page p {
	text-transform:uppercase;
	background:url(../icons/icon9.png) no-repeat top center;
	font-style:italic;
	font-size: 14px;
	color: #343434;
	line-height: 20px;
	margin:0 0 19px 0;
	padding:0;
	font-weight: 600;
}
div#content-welcome-page a {
	color: #7B7874;
	text-decoration: underline;
}
.sidebar-nav {
	flex-basis: 257px;
	background: #333;
	flex-grow: 1;
	flex-shrink: 1;
}
.admin-sidebar-nav {
	flex-basis: 257px;
	background: #333;
	flex-grow: 1;
	flex-shrink: 1;
}
ul.sidebar {
	list-style: none;
}

h3.topRecord {
	margin-top: 25px;
}

.content {
	flex-basis: calc(100% - 257px);
	text-align: center;
	flex-grow: 2;
	flex-shrink: 2;
}

button.btn-mini {
	width: 64px;
}

input.input-medium.search-query {
	padding-left: 11px;
	margin-left: 5px;
	width: 172px;
}
button.btn-mini {
	width: 61px;
}
.top-main-content h2 {
	margin: 0 0 20px 0;
}
ul.sort {
	display: block;
	text-align: center;
	line-height: 14px;
}
.search-letter-block ul li {
	display: inline;
	margin: 0 1px;
	text-decoration: underline;
	/* color: #333; */
}
.popular-block {
	text-align: center;
	margin-top: 23px;
	display: flex;
	margin-left: 59px;
}
.popular-item {
	width: 224px;
	display: inline-block;
	margin-right: 2px;
	margin-left: 5px;
}

img {
	vertical-align: middle;
	border-radius: 157px;
	height: 132px;
	width: 132px;
}

.military-title h3 {
	margin-top: 1px;
	margin-left: 406px;
}


.card-table {
	width: 84%;
	float: right;
	height: 300px;
}

.info-table div, .tableContainer {
	max-height: 370px;
	overflow-y: auto;
	overflow-x: hidden;
}

.editBlock, .addBlock {
	text-align: left;
	padding-left: 60px;
}

.approve {
	position: absolute;
	right: 80px;
	bottom: 60px;
	background-color: #337ab7;
}

label {
	display: inline-block;
	max-width: 87%;
	margin-bottom: 5px;
	margin-right: 10px;
	font-weight: 600;
}

.select {
	height: 29px;
	width: 156px;
}
.order {
	margin-top: 25px;
}

.bookForm {
	width: 400px;
	margin: 10px auto;
}

.bookForm input, .bookForm select, .bookForm textarea {
	display: block;
	color: #101010;
	width: 80%;
	padding: 6px 0;
	margin: 5px auto;
	background-color: #F5F5F5;
}

.bookForm .authorBlock {
	position: relative;
}

.bookForm input.cancel {
	position: absolute;
	top: 0px;
	right: 15px;
	background: transparent;
	overflow: visible;
	border: none;
	color: #f00;
	font-size: 2.3em;
}

input[type="button"] {
	background-color: #B5B2B2;
	font-size: 2em;
	line-height: 2px;
	width: 5%;
}

input[type="submit"] {
	background-color:  #333;
	color: white;
}

.bookForm label {
	display: block;
	text-align: center;
	margin: 5px 0;
}

div#confirmation-message {
	font-family: initial;
	font-size: x-large;
	padding-left: 19px;
}
a.button {
	color: #FBF8F8;
	margin-top: 0;
	margin-left: 115px;
	text-decoration: none;
	display: inline-block;
	border-left: 1px solid #6D6A6A;
	border-right: 1px solid #6D6A6A;
	border: 1px solid #6D6A6A;
	background: #333;
	width: 128px;
	text-align: -webkit-center;
	height: 33px;
	padding: 5px;
}

.invisible{
	display:none;
}

.deleteBtn {
	position: absolute;
	bottom: initial;
	right: 80px;
}

.top-image{
	border-radius: 100px;
}

.top-image1{
	border-radius: 100px;
}
.doubleTable1Container {
	width: 642px;
	max-height: 373px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: -52px;
	margin-right: -44px;
}
.doubleTable2Container{
	width: 538px;
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}

.block {
	display: inline-flex;
}

.admin-place{
	padding: 10px;
}
.user_info {
	width: 30%;
	padding: 0;
	float: right;
	margin-right: 46%;
}

.user-book-table {
	margin-top: 160px;
}

h4.confirm-message-error {
	margin-left: 49px;
	margin-top: 35px;
	padding-bottom: 29px;
	font-size: 19px;
}
h4.confirm-message{
	margin-left: 49px;
	margin-top: 35px;
	padding-bottom: 29px;
	font-size: 19px;
}
h4.confirm-message-success {
	margin-left: 114px;
	margin-top: 33px;
	padding-bottom: 37px;
	font-size: 23px;
}

